@model IEnumerable<Application.Models.Pedido>
<div class="container text-center h1">Lista de Pedidos</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                CÓDIGO
            </th>
            <th>
                ACTIVIDAD OPERATIVA
            </th>
            <th>
                TIPO DE USO
            </th>
            <th>
                FECHA Y HORA
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var pedido in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => pedido.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => pedido.ActividadOperativa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => pedido.TipoDeUso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => pedido.Fecha)
            </td>
            <td>
                <a class="btn border-dark" asp-area="" asp-controller="Documento" asp-action="Enviar" asp-route-id="@pedido.Id">Añadir Documento</a>
            </td>
        </tr>
}
    </tbody>
</table>
